<div class="container" style: "margin-top: 3rem;">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @meeting.name %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= @meeting.start_time %>
  </p>

  <%= link_to 'Edit', edit_meeting_path(@meeting) %> |
  <%= link_to 'Back', meetings_path %>



  <%= debug @meeting.user.email %>

</div>
